body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

main {
  flex: 1;
}

main .addtask {
  padding-bottom: 30px;
  width: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
}

main section {
  width: 80%;
  margin: auto;
}

main section ul {
  list-style-type: none;
  padding: 0;
}

main section ul li {
  margin: 10px;
  /* padding: 10px 0; */
}

/* clear the .js from inline styles */
main section ul li div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: left;
}
/* clear the .js */

.footer {
  margin-top: auto;
}

button {
  margin: 5px;
}

@media screen and (max-width: 768px) {
  main section {
    width: 100%;
  }
  main section ul {
    padding: 0 10px;
  }
  main section ul li:not(:last-child) {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
}
